[Unit]
Description=Nimbus Service

[Service]
ExecStart=/usr/bin/nimbus_run
User=nimbus
Group=nimbus
Restart=always
RuntimeMaxSec=21600

[Install]
WantedBy=default.target
