[Unit]
Description=Nimbus Service

[Service]
ExecStart=/usr/bin/nimbus_run
User=nimbus
Group=nimbus
Restart=always
LogLevelMax=err

[Install]
WantedBy=default.target
