[Unit]
Description=Nimbus Service

[Service]
ExecStart=/usr/bin/nimbus_run
User=nimbus
Group=nimbus
Restart=always
LogLevelMax=err
RuntimeMaxSec=21600
# RuntimeMaxSec=7200

[Install]
WantedBy=default.target
